<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <title>Cours</title>
</head>
<body>
    <h1>Symfo Sport</h1>
    <h2>Cours</h2>
    <ul>
        <li>Lundi 19h à 21h zumba</li>
        <li>Mardi 19h30 à 21h30 pilate</li>
        <li>Jeudi 20h à 22h boxe anglaise</li>
        <li>Vendredi 20h à 22h hiit</li>
        <li>Samedi 9h à 11h yoga</li>
    </ul>
</body>
</html>